body {
	margin: 20px;
}

#hot {
	border-color: #85d583;
	border-style: dashed;
	border-width: 2px;
	padding: 10px;
	background-color: #c7dfc6;
}

#hot p {
	text-align: center;
	vertical-align: middle;
}

#target {
	margin-top: 40px;
}